.gallery {
    margin: 10px 0px 10px 0px;
}
.gallery img {
    transition: 1s;
    padding: 5px;
    max-height: 180px;
  min-width: 180px;
  object-fit: contain;
  vertical-align: middle;
        
}
.gallery img:hover {
    transform: scale(1.1);
}